<section id="team" class="pb-5">
  <div class="container">
    <div style="margin-bottom: 2rem;">
      <span>Filters: </span>
      <div class="form-check-inline row">
        <div class="form-check col-sm-6">
          <label class="form-check-label" for="price">
            <input [(ngModel)]="priceBoxValue" (change)="setPriceFilter(priceBoxValue)" type="checkbox" class="form-check-input" name="price" id="price"> Price
          </label>
        </div>
        <div class="form-check col-sm-6">
          <label class="form-check-label" for="condition">
            <input [(ngModel)]="conditionBoxValue" (change)="setConditionFilter(conditionBoxValue)" type="checkbox" class="form-check-input" name="condition" id="condition"> Condition
          </label>
        </div>
        <div class="form-check col-sm-6">
          <label class="form-check-label" for="sortPrice">
            <input [(ngModel)]="sortPrice" (change)="setSortPrice(sortPrice)" type="checkbox" class="form-check-input" name="sortPrice" id="sortPrice"> Sort By Price
          </label>
        </div>
        <div class="form-check col-sm-6">
          <label class="form-check-label" for="sortCondition">
            <input [(ngModel)]="sortCondition" (change)="setSortCondition(sortCondition)" type="checkbox" class="form-check-input" name="sortCondition" id="sortCondition"> Sort By Condition
          </label>
        </div>
      </div>
      <span *ngIf="showPriceFilter" style="margin-right: 1rem">
        <label class="form-check-label" for="min" style="margin-left: 1rem;margin-right: 0.5rem;">Min</label>
        <input [(ngModel)] = 'minPrice' style="width: 5em;" id="min">
        <label class="form-check-label" for="min" style="margin-left: 1rem;margin-right: 0.5rem;">Max</label>
        <input [(ngModel)] = 'maxPrice' style="width: 5em;" id="max">
      </span>
      <select class="selectpicker" [(ngModel)]="selectedCond" *ngIf="showConditionFilter" (ngModelChange)="selectedCondition($event)" style="margin-left: 1rem;margin-right: 1rem;"  >
        <option *ngFor="let c of conditions" [ngValue]="c"> {{c}} </option>
      </select>
      <button (click)="reset()" class="btn btn-outline-primary">Reset</button>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let item of filter(items)">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class="img-fluid" src="{{ item.imgUrl }}" alt="card image"></p>
                  <h4 class="card-title"><strong>{{ item.bookName }}</strong></h4>
                  <p class="card-text"><strong>Price</strong> - Rs.{{ item.price }}</p>
                  <p class="card-text"><strong>Author</strong> - {{ item.authorName}}</p>
                  </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">{{ item.bookName }}</h4>
                  <p class="card-text" align="left" style="margin-left: 4rem; margin-top: 2rem;">
                    <span><strong>Author:</strong> {{ item.authorName }} </span><br>
                    <span><strong>Price:</strong> {{ item.price}}</span><br>
                    <span><strong>Condition:</strong> {{ item.condition }}</span><br>
                  </p>
                  <ul class="list-inline" style="margin-top: 4rem;">
                    <li class="list-inline-item">
                      <button class="btn btn-info" id="{{ item.id }}" (click)="showDetail($event)">View Details</button>
                    </li>
                    <li class="list-inline-item">
                      <button class="btn btn-danger" id="{{ item.id }}" (click)="removeFromWishlist($event)">Remove from Wishlist</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
